<html>
<head>
	<title>Post example</title>

	<script type="text/javascript" src="/content/js/jquery-2.0.3.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$("#getjson").click(function () {
				$.post("/postjson", {name: $("#jsonname").val()}, function (response) {
					$("#jsonresult").html(JSON.stringify(response))
				})
			})
		});
	</script>
</head>
<body>
	<div>
		{{.Name}}
	</div>
	<div>
		<form action="/post" method="POST">
			<input type="text" id="name" name="name" />
			<input type="submit" />
		</form>
	</div>
	<div>
		<input type="text" id="jsonname" />
		<a href="#" id="getjson">Ajax post request</a>
	</div>
	<div id="jsonresult">
	</div>
	<div>
		<a href="/">Go To Index</a>
	</div>
</body>
</html>
