<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Signin </title>

    <link href="content/css/bootstrap.min.css" rel="stylesheet">
    <link href="content/css/signin.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" id="username" class="form-control" placeholder="Username" autofocus>
        <input type="password" id="password" class="form-control" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="signin">Sign in</button>
      </form>
    </div>
    
    <script src="content/js/jquery-2.0.3.min.js"></script>
    <script src="content/js/signin.js"></script>
  </body>
</html>
