{{ define "add" }}

{{ template "header" .}}

<h1> Add Book</h1>

<form role="form" action="/add" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="value" class="form-control" id="title" name="title" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="value" class="form-control" id="author" name="author" placeholder="Author">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{{ template "footer" .}}

{{ end }}